@model IEnumerable<BookSheling.Models.User_Models>

<div class="stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">User Table</h4>

            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            @* <th>User Id</th> *@
                            <th>UserName</th>
                            <th>Email</th>
                            <th>PhoneNumber</th>
                            <th>Password</th>
                            <th>RoleID</th>
                            <th>Created</th>
                            <th>Modified</th>
                            <th>Action</th>

                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var data in Model)
                        {
                            <tr>
                                @* <td>@data.UserID</td> *@
                                <td>@data.UserName</td>
                                <td>@data.Email</td>
                                <td>@data.PhoneNumber</td>
                                <td>@data.Password</td>
                                <td>@data.RoleID</td>
                                <td>@data.Created</td>
                                <td>@data.Modified</td>
                                <td>
                                    <button type="button" class="btn btn-danger">Delete</button>
                                    <button type="button" class="btn btn-primary">Edit</button>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
